[submodule "samples/android-samples"]
	path = samples/android-samples
	url = https://github.com/googlemaps/android-samples.git
[submodule "samples/GpsSamples"]
	path = samples/GpsSamples
	url = git@github.com:YYWorkshop/Samples.git
